@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
}



@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    #skills, .skills-details-container{
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
}


@media screen and (max-width: 600px) {

        #contact, footer {
            height: 40vh;
        }
        #profile{
            height: 83vh;
            margin-bottom: 0;

        }
        article{
            font-size: 1rem;
        }
        footer nav {
            height: fit-content;
            margin-bottom: 2rem;
        }
        .about-containers, .contact-info-upper-container, .btn-container{
            flex-wrap: wrap;
        }
        .contact-info-container {
            margin: 0;
        }
        .contact-info-container p, .nav-links li a {
            font-size: 1rem;

        }
        .skills-sub-title{
            font-size: 1.25rem;
        }
        .logo{
            font-size: 1.5rem;
        }
        .nav-links{
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
        }
        .section__pic-container{
            width: auto;
            height: 46vw;
            justify-content: center;
        }
        .section__text_p2{
            font-size: 1.25rem;
        }
        .title{
            font-size: 2rem;
        }
        .text-container{
            text-align: justify;
        }

        /* Fix About Me Layout on Mobile */
#about .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0;
    padding: 0;
}

.about-containers {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

.about-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0;
    padding: 0;
}

/* Fix image centering on iPhone */


 #about .section__pic-container {
        display: block !important;
        margin: 0 auto !important;
        text-align: center;
        width: 100% !important;
    }

    #about .about-pic {
        display: block;
        margin: 0 auto !important;
        width: 70%;
        height: auto;
    }


}
